body{
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

header{
    background-image: url(./images/pattern-bg.png);
}

header img{
    height: 100%;
    width: 100%;
}

.page-heading h1{
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-bar{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-bar-input input{
    width: 30em;
    height: 3em;
    padding: 0 1em;
    border: none;
    outline: none;
    border-radius: 0.8em 0 0 0.8em;
}

.search-bar-icon{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    margin-left: -5px;
    border-radius: 0 0.8em 0.8em 0;
}

.search-bar-icon span{
    color: white;
    font-size: 0.9em;
}

main{
    position: relative;
    background-color: #dedad8;
}

.display-info{
    position: fixed;
    z-index: 1000;
    width: 75vw;
    height: 25vh;
    transform: translateY(-50%) translateX(15%);
    border-radius: 1em;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.display-info>div{
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-sizing: border-box;
    padding: 1em;
    align-items: center;
    position: relative;
}

.display-info>div:not(:last-child)::after{
    content: "";
    width: 1px;
    height: 60%;
    background-color: darkblue;
    position: absolute;
    right: 0%;
}

.di-description>span{
    font-size: 0.7em;
    color: grey;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
}   

.di-value{
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2px;
}

#map{
    height: 100%;
    /* height: 250px; */
}